@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    scroll-behavior: smooth; /* Smooth scroll */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */

    @apply bg-blue text-blue;
  }

  body:has(#modal) {
    overflow: hidden;
  }
}

@layer components {
  .font-carattere {
    font-family: "Carattere", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }

  .h-available {
    height: 100vh;
    height: -webkit-fill-available;
    height: 100svh;
  }

  .reveal {
    opacity: 0;
    transform: translateY(50px); /* Start from the bottom */
    transition:
      opacity 0.6s ease,
      scale 0.6s ease,
      transform 0.6s ease;
    will-change: transform, opacity, scale;
    scale: 0.97;
  }

  /* Fade-in effect */
  .fade-in {
    scale: 1;
    opacity: 1;
    transform: translateY(0); /* Slide up to original position */
  }

  .fade-out-up {
    scale: 0.97;
    opacity: 0;
    transform: translateY(-50px); /* Slide down when fading out */
  }

  .fade-out-down {
    scale: 0.97;
    opacity: 0;
    transform: translateY(50px); /* Slide down when fading out */
  }
}
