@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    overscroll-behavior: none;
    scroll-snap-type: y mandatory; /* Enable vertical snap scrolling */
    scroll-behavior: smooth; /* Smooth scroll */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */

    @apply bg-blue text-blue;
  }
}

@layer components {
  .font-carattere {
    font-family: "Carattere", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}
