@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;

    scroll-behavior: smooth;
  }

  body {
    height: 100vh;
    overflow: hidden;

    @apply bg-blue text-blue
  }
}

@layer components {
  .font-carattere {
    font-family: "Carattere", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}
